#InputList{
    opacity:1.0;
}

#inputFileList,
#InsertInfo,
#OutputFile,
#DeleteItem{
    margin-top:30px;
    margin-bottom:30px;
    padding:10px;
    border: 5px solid #000000;
    width:500px;  
    border-radius: 10px;  
    background-color: #acf;
    margin-left:30px;
}

#table1{
    margin-left:30px;
    visibility: hidden;
}

#Message{
    margin-left:30px;
}

#table1 th{
    background-color: #dff;
}